{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}
{% block body_class %}home-background{% endblock %}

{% block content %}
<main>
    <div >
        <h1>FIND YOUR DREAMS</h1>
        <p>Our catalog will surprise you. Rather, discover an unprecedented offers of luxury properties.</p>
        <a href="#" class = "main-container-link">Explore Properties</a>
    </div>
    <div class="bottom-container">
          <a href="#">ALL</a>
          <a href="#">PROPERTIES</a>
          <a href="#">HOTEL</a>
          <a href="#">VILLA</a>   
    </div>
</main>
{% endblock %}
