{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}
{% block body_class %}home-background{% endblock %}

{% block content %}
<main>
    <div>
        <h1>FIND YOUR DREAMS</h1>
        <p>Our catalog will surprise you. Rather, discover an unprecedented offers of luxury properties.</p>
        <a href="{% url 'main:properties' %}" class = "main-container-link">Explore Properties</a>
    </div>
    <div class="bottom-container">
        
          <a href="#" class ="filter">
            <span class="unit-icon material-symbols-outlined">check_circle</span>
            <span class ="lable">ALL</span>
           </a>
          <a href="{% url 'main:properties' %}" class = "filter">
            <span class="unit-icon material-symbols-outlined">apartment</span>
            <span class="label">PROPERTIES</span>
        </a>
          <a href="#" class = "filter">
                <span class="unit-icon material-symbols-outlined">hotel</span>
                <span class="label">HOTEL</span>
            </a>
          <a href="#" class = "filter">
                <span class="unit-icon material-symbols-outlined">holiday_village</span>
                <span class="label">VILLA</span>
            </a>   
    </div>
</main>
{% endblock %}

