{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>index</title>
</head>
<body>
    <div id="main">
        <nav>
            <a href="#" id="home_title">HOME</a>
            <div id="middle_nav">
                <a href="#">HOME</a>
                <a href="#">Properties</a>
                <a href="#">Services</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div id="right_nav">
                <a href="#">u</a>
                <a href="#">sign up</a>
                <a href="#">li</a>
                <a href="#">da</a>
            </div>
        </nav>
    </div>
</body>
</html>