body {
    margin: 0 px;
    padding: 0 px;
    background-image: url("/static/image/skyscraper.jpeg");
    background-size: cover;
}


#main {
    padding: 3rem 18rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#home_title {
    font-size: 30px;
    color: black;
    text-decoration: none;

}

#middle_nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: white;
    padding: 18px 50px;
    border-radius: 5rem;
}

#middle_nav a{
    text-decoration: none;
    color: black;
}

#right_nav {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

#right_nav a{
    text-decoration: none;
    color: black;
}