@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    font-family: Phudu;
}

body {
    margin: 0 px;
    padding: 0 px;
    background-image: url("/static/image/skyscraper.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

#main {
    position: sticky;
    top: 2rem;
    padding: 2rem 15rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#left_nav a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#middle_nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: white;
    padding: 18px 50px;
    border-radius: 5rem;
}

#middle_nav a{
    text-decoration: none;
    color: black;
}

#right_nav {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    text-align: center;
}

#sign_up {
    text-decoration: none;
    color: black;
    font-size: 20px;
}