@media (max-width: 1024px) {
.wrapper{
    height: 80vw;
    background-size: cover;
}  
.header-home {
  padding: 2rem 1.5rem;
}  
   nav, .categories {
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 1rem;
}
  .nav-links { 
    flex-direction: row;
    gap: .8rem; 
    font-size: .8rem; 
    padding: .5rem 1rem; 
}
  .icons-nav, .icons-section { 
    display: flex; 
    justify-content: center; 
    gap: .5rem; 
}
  .header-home h1 { 
    font-size: 2.5rem; 
}
  .header-home p { 
    font-size: .9rem; 
    width: 90%; 
    margin: 0 auto; 
}
  .btn { 
    padding: .6rem 0rem; 
    font-size: .5rem; 
    width: 6rem;
}
.icons-section {
    border-radius: 65px;
    width: 60%;
    padding: 1rem 5rem;
    gap: 2rem;

}
.house,.factory, .hotel,.villa{
  padding: 3px 3px;
}
  .cards { 
    display: grid;
    grid-template-columns: repeat(2, 200px);
    padding: 1rem; 
}
.card{
    width: 200px;
    height: 200px;
}
.card p{
    padding: 5px 0 5px 5px;
    
}
.card a{ 
    width: 2.7rem;
    font-size: 8px;
}
.section {
    padding: 2rem 1.5rem;
}
iframe{
  width:300 ;
  height: 310;
}
}


