@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    animation: fadeIn 1s ease-in-out;

}

.navbar-header h1 {
    font-family: phudu;
    font-size: 2.5rem;
    font-weight: 400;
    position: relative;
    left: 8rem;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 4rem;
    padding: 1.5rem 6.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: transform 0.3s ease;

}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}
a:hover {
    color: rgb(177, 68, 68);
    transform: scale(1.08);
}



.container:hover{
    transform: scale(1.08);
}

.preferences{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    position: relative;
    right: 8rem;
    cursor: pointer;
}
.preferences span{
     transition: color 0.3s ease, transform 0.3s ease;
}

.preferences span:hover{
    color: rgb(177, 68, 68);
    transform: scale(1.1);
}

main{
   position: relative;
    display: flex;
    flex-direction: column;       
    justify-content: space-between; 
    align-items: flex-start;  
    background: transparent;
    padding: 2rem 1rem;
    min-height: 80vh;
    animation: fadeIn 1s ease-in-out;

}

main h1{
    display: flex;
    flex-direction: row;
    font-family: phudu;
    font-size: 8rem;
    width: 60%;
    font-weight: 500;
    position: relative;
    padding-left: 8rem;
    color: black;
}

main p{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    width: 50%;
    position: relative;
    left: 8rem;
    color: black;
}

main .main-container-link {
    padding: 0.6rem 2.5rem;
    position: relative;
    top: 1.8rem;
    left: 7.4rem;
    color: white;
    border-radius: 2rem;
    background-color: black;
    text-decoration: none;

}

main .bottom-container a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}
main .bottom-container a:hover {
    color: rgb(177, 68, 68);
    transform: scale(1.1);
}

main .bottom-container {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    border-radius: 4rem;
    top:2.5rem;
    padding: 2rem 9.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0;
    align-self: center;
    z-index: 10;
    transition: transform 0.3s ease;

    
}
main .bottom-container:hover{
    transform: scale(1.08);
}
footer{
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 1.5rem ;
    background-color: #f1f1f1;
    color: #333333;
    position: relative;
    bottom: 0;
    width: 100%;
}

.home-background {
    background: url("/static/resources/skyscraper.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html.dark .home-background {
    background-image: url("/static/resources/skyscraper-dark.jpg");
}

html.dark,
html.dark main h1,
html.dark main p {
    color: #eeeeee;
}

html.dark .navbar-header h1 {
    color: #eeeeee;
}

html.dark .container {
    background-color: #2D3748;
}

html.dark .container a {
    color: #eeeeee;
}

html.dark .preferences a,
html.dark .preferences span {
    color: #eeeeee;
}

html.dark main .bottom-container {
    background-color: #2D3748;
}

html.dark main .bottom-container a {
    color: #eeeeee;
}

html.dark a:hover,
html.dark main .bottom-container a:hover,
html.dark .preferences span:hover {
    color: rgb(211, 101, 101);
}

html.dark footer {
    background-color: #12161d;
    color: #eeeeee;
}

.preferences .light-mode-icon,
.preferences .dark-mode-icon {
    padding: 4px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}

html.light .preferences .light-mode-icon {
    background-color: white;
    color: black;
}

html.dark .preferences .dark-mode-icon {
    background-color: rgb(97, 90, 90);
    color: black;
}