@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Superclass Styles --- */
.navbar-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    animation: fadeIn 1s ease-in-out;

}

.navbar-header h1 a {
    font-family: phudu;
    font-size: 2.5rem;
    font-weight: 400;
    position: relative;
    left: 8rem;
    color: black;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 4rem;
    padding: 1.5rem 6.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: transform 0.3s ease;

}

.navbar-header a {
    font-family: phudu;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}
.navbar-header a:hover {
    color: rgb(177, 68, 68);
    transform: scale(1.08);
}



.container:hover{
    transform: scale(1.08);
}

.preferences{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    position: relative;
    right: 8rem;
    cursor: pointer;
}
.preferences span{
     transition: color 0.3s ease, transform 0.3s ease;
}

.preferences span:hover{
    color: rgb(177, 68, 68);
    transform: scale(1.1);
}
/* --- Home Page Styles --- */
main{
    position: relative;
    display: flex;
    flex-direction: column;       
    justify-content: space-between; 
    align-items: flex-start;  
    padding: 2rem 1rem;
    min-height: 80vh;
    animation: fadeIn 1s ease-in-out;

}

main h1{
    display: flex;
    font-family: phudu;
    font-size: 8rem;
    width: 60%;
    font-weight: 500;
    position: relative;
    padding-left: 8rem;
    color: black;
}

main p{
    display: flex;
    font-size: 1rem;
    width: 50%;
    position: relative;
    left: 8rem;
    color: black;
}

main .main-container-link {
    padding: 0.6rem 2.5rem;
    position: relative;
    top: 1.8rem;
    left: 7.4rem;
    color: white;
    border-radius: 2rem;
    background-color: black;
    text-decoration: none;

}



main .bottom-container {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 4rem;
    top:2.5rem;
    padding: 1.5rem 9.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-shrink: 0;
    align-self: center;
    z-index: 10;
    transition: transform 0.3s ease;
}
main .filter{
    display: flex;
    flex-direction: column;
    font-family: phudu;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
}

main .bottom-container .filter:nth-child(1) {
    color: #8BC34A; 
}


main .bottom-container .filter:nth-child(2) {
    color: #FF9800; 
}


main .bottom-container .filter:nth-child(3) {
    color: #9C27B0; 
}


main .bottom-container .filter:nth-child(4) {
    color: #2196F3; /
}

main .bottom-container:hover{
    transform: scale(1.08);
}
main .bottom-container a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}
main .bottom-container .filter:hover {
    color: rgb(177, 68, 68);
    transform: scale(1.1);
}

footer{
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 3rem ;
    background-color: #f1f1f1;
    color: #333333;
    bottom: 0;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

.home-background {
    background: url("/static/resources/skyscraper.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html.dark .home-background {
    background-image: url("/static/resources/skyscraper-dark.jpg");
}

html.dark,
html.dark main h1,
html.dark main p {
    color: #eeeeee;
}

html.dark .navbar-header h1 a {
    color: #eeeeee;
}

html.dark .container {
    background-color: #242425;
}

html.dark .container a {
    color: #eeeeee;
}

html.dark .preferences a,
html.dark .preferences span {
    color: #eeeeee;
}

html.dark main .bottom-container {
    background-color: #242425;
}

html.dark main .bottom-container a {
    color: #eeeeee;
}

html.dark .navbar-header a:hover, html.dark .navbar-header h1 a:hover,
html.dark main .bottom-container a:hover,
html.dark .preferences span:hover {
    color: rgb(211, 101, 101);
}

html.dark footer {
    background-color: #12161d;
    color: #eeeeee;
}

.preferences .light-mode-icon,
.preferences .dark-mode-icon {
    padding: 4px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}

html.light .preferences .light-mode-icon {
    background-color: white;
    color: black;
}

html.dark .preferences .dark-mode-icon {
    background-color: rgb(97, 90, 90);
    color: white;
}
/* --- Properties Page Styles --- */

.properties-container {
    padding-left: 8rem;
    padding-right: 8rem;
    width: 100%;
}

.properties-container h2 {
    font-family: phudu;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: black;
}

.properties-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2.5rem; 
}

.villa-card {
    background-color: white;
    border-radius: 1.5rem; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05); 
    overflow: hidden; 
    transition: transform 0.3s ease;
}

.villa-card:hover {
    transform: translateY(-5px); 
}

.villa-card img {
    width: 100%; 
    height: 250px;
    object-fit: cover; 
    display: block;
}

.villa-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.villa-card-content h4 {
    font-family: phudu;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    width: 65%; 
}

.villa-card-content .more-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.villa-card-content .more-btn:hover {
    transform: scale(1.05);
    background-color: #333;
    color: white; 
}


html.dark .properties-background {
    background-color: #1a202c;
}
html.dark .properties-container h2 {
    color: #eeeeee;
}
html.dark .villa-card {
    background-color: #2d3748;
}
html.dark .villa-card-content h4 {

    color: #eeeeee;
}
/* --- Contact Page Styles --- */
.contact-background {
    background-image: url("/static/resources/email.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7rem ;
    gap: 2rem;
}
.contact-card h2{
    font-family: phudu;
    font-weight: 500;
    padding-bottom: 6rem;
}
.contact-card .left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.5rem;
}
.left-col h3{
    font-family: phudu;
    font-weight: 600;
}
.contact-card .left-col h5{
    font-family: phudu;
    width: 44.2%;
    font-weight: 400;
}
.contact-card .google-map-embed{
    width: 44rem;
    height: 24rem;
    border: none;
    border-radius: 2rem;
    position:absolute;
    top: 4rem;
    right: 16rem;
    left:30rem;
}